@import 'core/style/scss-shared/_shared.scss';

.location-detail-more {
  margin: $standard-content-margin;
  text-align: center;
}

.location-detail-link {
  font-weight: 700;
  font-size: $font_size_large;
  line-height: $line_height_standard;
  padding: $small-content-padding;
}