/*---------------------------------------------------------------------*/
/*  Mixins SASS file
/*  All mixins go there (custom and borrowed from third party libraries)
/*---------------------------------------------------------------------*/

/* forces a responsive element to be a fixed ratio */
/* http://stackoverflow.com/questions/12121090/responsively-change-div-size-keeping-aspect-ratio */
@mixin fixed-ratio ($height-as-percent-of-width) {
  &:before {
      content: "";
      display: block;
      padding-top: $height-as-percent-of-width;
    }
}

/* Rainbow text! */
/* https://w3bits.com/rainbow-text/ */
@mixin rainbow-text () {
  background: $brand-accent-light; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(right, violet, indigo, blue, green, yellow, orange, red); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left violet, indigo, blue, green, yellow, orange, red); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, violet, indigo, blue, green, yellow, orange, red); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red); /* Standard syntax (must be last) */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;     
}

@mixin rainbow-text-shifted () {
  background: $brand-accent-light; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(right, indigo, blue, green, yellow, orange, red,  violet); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left indigo, blue, green, yellow, orange, red,  violet); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, indigo, blue, green, yellow, orange, red,  violet); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left, indigo, blue, green, yellow, orange, red,  violet); /* Standard syntax (must be last) */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent; 
}

