@import 'core/style/scss-shared/_shared.scss';

.scroll-top-wrapper {
  margin: $standard-content-margin;
  text-align: center;
}

.scroll-top {

  color: $brand-accent-medium;
  margin: 0;
  font-weight: 700;
  font-size: $font_size_large;
  line-height: $line_height_standard;
  padding: $small-content-padding;

  &:hover {
    color: $brand-accent-vivid;
  }
}