@import 'core/style/scss-shared/_shared.scss';

.location-map {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  padding-bottom: $large-content-padding;
  text-align: center;
}

.location-map-svg {
  background-color: $light-gray;
  border: 1px solid $brand-accent-light;
}