/*---------------------------------------------------------------------*/
/*  SASS variables
/*  Font variables go there except
/*  Order the SASS files get compiled:
/*  1) External libs
/*  2) Core variables SASS files 
/*  3) theme variable overrides
/*  4) other core SASS files
/*  5) other theme SASS overrides
/*---------------------------------------------------------------------*/

/** Font URLS **/
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,500,600i,700);

$raleway: 'Raleway', sans-serif;

$font-size-extra-small: 12px;
$font-size-small: 14px;
$font-size-standard: 18px;
$font-size-large: 24px;
$font-size-extra-large: 36px;

$line-height-extra-small: 12px;
$line-height-small: 14px;
$line-height-standard: 18px;
$line-height-large: 24px;
$line-height-extra-large: 36px;