/*---------------------------------------------------------------------*/
/*  Typography
/*  Include all fonts and define styles
/*---------------------------------------------------------------------*/


/** Font Styles **/
body, button,p, li, a, h1, h2, h3, h4 {
  font-family: $raleway;
  font-weight: normal;
  color: $text-color;
  word-wrap: break-word;
  -webkit-font-smoothing: subpixel-antialiased;
}

p, li {
  font-weight: 300;
  font-size: $font_size_small;
  line-height: $line_height_standard;
}

h1 {
  font-weight: 700;
  font-size: $font_size_extra_large;
  line-height: $line_height_extra_large;
}

h2 {
  font-weight: 700;
  font-size: $font_size_large;
  line-height: $line_height_large;
}

h3 {
  font-weight: 700;
  font-size: $font_size_standard;
  line-height: $line_height_standard;
}

h4 {
  font-weight: 700;
  font-size: $font_size_small;
  line-height: $line_height_standard;
}

a {
  font-weight: 600;
  color: $link-color;
  &:hover {
    color: $link-hover-color;
  }
}
