@import 'core/style/scss-shared/_shared.scss';

.media-detail {
  width: 100%;
}

.media-detail-title {
  color: $brand-accent-light;
  padding: 10px 20px;
}

.media-detail-image {
  margin-top: $large-content-margin;
  width: auto;
  max-width: 100%;
}