@import 'core/style/scss-shared/_shared.scss';

.media-item {
  position: relative;
  overflow: hidden;
  border: 1px solid $brand-accent-light;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  @media screen and (max-width: $breakpoint-small-smartphone-max-width) {
    width: 100%;
    margin-bottom: $small-content-margin;
  }
  @media screen and (min-width: $breakpoint-large-smartphone-min-width) and (max-width: $breakpoint-tablet-portrait-max-width) {
    margin-bottom: $small-content-margin;
    margin-right: $small-content-margin;
    /* MM: 49% not 50% as 50% cause overflow most likely due to rounding error */
    /* Possible to calculate perfect fit with justify-content: space-between */
    /* where space betwen items is adjusted, but then last incomplete row looks odd */
    width: calc(49% - #{$small-content-margin});
  }
  @media screen and (min-width: $breakpoint-tablet-landscape-min-width) and (max-width: $breakpoint-tablet-landscape-max-width) {
    margin-bottom: $small-content-margin;
    margin-right: $small-content-margin;
    width: calc(32% - #{$small-content-margin});
  }
  @media screen and (min-width: $breakpoint-desktop-min-width) and (max-width: $breakpoint-standard-desktop-max-width){
    margin-bottom: $medium-content-margin;
    margin-right: $medium-content-margin;
    width: calc(24% - #{$medium-content-margin});
  }
  @media screen and (min-width: $breakpoint-large-desktop-min-width) {
    margin-bottom: $standard-content-margin;
    margin-right: $standard-content-margin;
    width: calc(19% - #{$standard-content-margin});
  } 
}

.media-item-image {
  width: 100%;
  @include fixed-ratio (100%);
  background-style: cover;
  transform: scale3d(1, 1, 1);
  transition: transform 1s ease-in-out;
}

.media-item:hover .media-item-image {
  transform: scale3d(1.1, 1.1, 1.1);
  transition: transform 1s ease-in-out;
}

.media-item-info {
  display: block;
  width: 100%;
  background: #333;
  background: rgba(0,0,0,0.7);
  padding: 0;
  margin: 0;
  text-align: center;
  position:absolute;
  bottom: 0;
}

.media-item-title {
  color: $brand-accent-light;
  padding: 10px 20px;
  text-align: center;
}
